---
import { getCollection } from "astro:content";
import WorkshopCard from "./WorkshopCard.astro";

const workshops = await getCollection("workshops");
/* console.log(workshops); */
---

<section class="container" id="workshops">
  <header>
    <h2><span>Workshops</span></h2>
    <p>
      These workshops offer hands-on introductions to creative technologies,
      empowering artists, designers, and musicians to explore digital tools as
      expressive, interactive mediums.
    </p>
  </header>
  <ul>
    {workshops.map((workshop) => <WorkshopCard workshop={workshop} />)}
  </ul>
</section>

<style>
  ul {
    display: flex;
    flex-flow: column;
    gap: var(--sp-m);
  }
</style>
